# Compilação
out/
target/
*.class
dependency-reduced-pom.xml

# Logs da aplicação
logs/

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.classpath
.project
.settings/
.factorypath

# VS Code
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db
